.home-section {
  background-image: url('F:\parking-management\src\assets\background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.home-content {
  max-width: 600px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.home-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  line-height: 1.6;
}
